# Python
# 忽略所有 __pycache__ 目录（包括子目录）
**/__pycache__/
*.pyc
*.pyo
*.pyd


# Environments
.env
.env.*

# VS Code settings
.vscode/

# Frontend development directory
*dist/
# Node modules
frontend/node_modules/

